.hljs{color:#c9d1d9;background:#0d1117}
.hljs .c,.hljs .c1,.hljs .ch,.hljs .cm,.hljs .cp,.hljs .cpf,.hljs .cs{color:#8b949e}
.hljs .k,.hljs .kc,.hljs .kd,.hljs .kn,.hljs .kp,.hljs .kr,.hljs .kt{color:#ff7b72}
.hljs .nc,.hljs .nd,.hljs .ne,.hljs .nf,.hljs .fm{color:#d2a8ff}
.hljs .na,.hljs .no,.hljs .nv,.hljs .vc,.hljs .vg,.hljs .vi,.hljs .vm,.hljs .m,.hljs .mb,.hljs .mf,.hljs .mh,.hljs .mi,.hljs .mo,.hljs .il,.hljs .o,.hljs .ow{color:#79c0ff}
.hljs .s,.hljs .s1,.hljs .s2,.hljs .sa,.hljs .sb,.hljs .sc,.hljs .sd,.hljs .se,.hljs .sh,.hljs .si,.hljs .sr,.hljs .ss,.hljs .sx{color:#a5d6ff}
.hljs .bp,.hljs .nb{color:#ffa657}
.hljs .gd{color:#ffdcd7;background:#490202}
.hljs .gi{color:#7ee787;background:#033a16}
.hljs .ge{font-style:italic}
.hljs .gh,.hljs .gs{font-weight:700}
